<div class="container-fluid"
<div class="page-header">
  <h1 class="headline">Faker Data</h1>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th> Name </th>
      <th> Birth Date </th>
      <th> Address </th>
      <th> Credit Card Number </th>
      <th> Email </th>
      <th> Email Password </th>

    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.birth_date %></td>
        <td><%= person.address %></td>
        <td><%= person.credit_card_number %></td>
        <td><%= person.email %></td>
        <td><%= person.email_password %></td>

      </tr>
    <% end %>
  </tbody>
</table>
